h2 {
    background-color: aqua;
}

p{
    background-color: yellow;
}
a{
    background-color: rosybrown;
}
span{
    background-color: aquamarine;
}
center{
    background-color: blueviolet;
}
div{
    background-color: cornflowerblue;
}